@model IEnumerable<Teatar18_2.Models.Predstava>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.glumci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scenaristi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reziseri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scenografi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zanr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trajanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uRepertoaru)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.glumci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scenaristi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reziseri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scenografi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zanr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uRepertoaru)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
