@model IEnumerable<Teatar18_2.Models.Predstava>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<p>
    <a asp-action="Create" class="my-red-link">Dodaj novu predstavu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv
            </th>
            <th>
                Glumci
            </th>
            <th>
                Scenaristi
            </th>
            <th>
                Režiseri
            </th>
            <th>
                Scenografi
            </th>
            <th>
                Žanr
            </th>
            <th>
                Opis
            </th>
            <th>
                Poster
            </th>
            <th>
                Trajanje
            </th>
            <th>
                U repertoaru
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.glumci)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scenaristi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reziseri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.scenografi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zanr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.poster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uRepertoaru)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="my-red-link">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="my-red-link">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="my-red-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
