@model IEnumerable<Teatar18_2.Models.Izvedba>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1>Index</h1>

<p>
    <a asp-action="Create" class="my-red-link">Dodaj novu izvedbu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Vrijeme
            </th>
            <th>
                Broj slobodnih karata
            </th>
            <th>
                Predstava
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vrijeme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojSlobodnihKarata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Predstava.naziv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="my-red-link">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="my-red-link">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="my-red-link">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
