<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repertoar - Teatar18</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .header {
            background-color: #a10000;
            color: white;
            padding: 10px;
            text-align: center;
        }

            .header h1 {
                margin: 0;
            }

        .play-card {
            background-color: #e0e0e0;
            padding: 10px;
            text-align: center;
            width: 250px;
            margin: 20px;
            height: 432px;
            border: 1px solid #555;
        }

            .play-card img {
                max-width: 90%;
                height: auto;
            }

            .play-card h3,
            .play-card p {
                margin: 10px 0;
            }

        .scrollable-content {
            flex: 1;
            overflow-y: auto;
        }

        .container {
            padding: 18px;
        }

        .repertoire {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .play-card a {
            text-decoration: none;
            color: black;
        }

            .play-card a:hover {
                text-decoration: none;
                color: black;
            }

        .header-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }

            .header-container h2 {
                margin: 0;
            }

        .button-container {
            text-align: center;
        }

            .button-container a {
                text-decoration: none;
                border-color: #a30808;
                padding: 10px 20px;
                color: white;
                background-color: #a30808;
                border: none;
                font-size: 16px;
            }

                .button-container a:hover {
                    background-color: #660000;
                }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="header-container">
        <h2>Repertoar</h2>
        @if (User.IsInRole("Zaposlenik") || User.IsInRole("Administrator")) {
            <div class="button-container">
                <a href="@Url.Action("izmjenaRepertoara", "Izvedba")">Izmijeni repertoar</a>
            </div>
        }
    </div>
    <div class="scrollable-content">
        <div class="container">
            <div class="repertoire">
                @foreach (var predstava in Model)
                {
                    string najranijaIzvedbaUrl = Url.Action("dajNajranijuIzvedbu", "Izvedba", new { PredstavaID = predstava.ID });

                    <div class="play-card">
                        <a href="@Url.Action("pregledPredstave", "Izvedba", new { predstavaID = predstava.ID })">
                            <img src="@predstava.poster" alt="@predstava.naziv poster">
                            <h3>@predstava.naziv</h3>
                            <p>@predstava.zanr</p>
                            <p><span id="izvedba_@predstava.ID"></span></p>
                        </a>
                    </div>

                    <script>
                        $(document).ready(function () {
                            $.ajax({
                                url: '@najranijaIzvedbaUrl',
                                success: function (result) {
                                    $('#izvedba_@predstava.ID').text(result);
                                },
                                error: function (xhr, status, error) {
                                    console.log("Error: " + error);
                                    console.log("Status: " + status);
                                    console.dir(xhr);
                                }
                            });
                        });
                    </script>
                }
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</body>

</html>
