@model IEnumerable<Teatar18_2.Models.Pitanje>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.predmet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sadrzaj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumPostavljanja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.odgovoreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumOdgovora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.predmet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sadrzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumPostavljanja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.odgovoreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumOdgovora)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
