@model IEnumerable<Teatar18_2.Models.Rezervacija>

@{
    ViewData["Title"] = "Sve rezervacije";
}

<h1>@ViewData["Title"]</h1>

<div>
    <form asp-action="OtkaziNeplaceneRezervacije" method="post">
        <button type="submit" class="btn btn-primary">Otkaži neplaćene rezervacije</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Plaćena
            </th>
            <th>
                Broj karata
            </th>
            <th>
                Aktivna
            </th>
            <th>
                Predstava
            </th>
            <th>
                Vrijeme
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @(item.kupovina ? "Da" : "Ne")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojKarata)
            </td>
            <td>
                @(item.aktivna ? "Da" : "Ne")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izvedba.Predstava.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Izvedba.vrijeme)
            </td>
            @if(item.aktivna && item.kupovina == false)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Postavi plaćeno</a> |
                    <a asp-action="OtkaziRezervaciju" asp-route-id="@item.ID">Otkaži</a>
                </td>
            }   
        </tr>
}
    </tbody>
</table>
